{% if mimetype == 'image/gif' and mobile %}
<script>
window.addEventListener('load', function() {
	document.getElementById('video-option-{{ filename }}').play();
}, false);
</script>

{% if file.title and not embedded %}
    <h3>{{ file.title }}</h3>
{% endif %}
<video id="video-option-{{ filename }}" controls {% if flags['mute'] %}muted="true"{% endif %} {% if flags['loop'] %}loop{% endif %} poster="{{ cdn }}/{{ shard(filename) }}.jpg">
    <source src="{{ cdn_url(filename + '.mp4') }}" type='video/mp4;'>
    <source src="{{ cdn_url(filename + '.webm') }}" type='video/webm;'>
    <source src="{{ cdn_url(filename + '.ogv') }}" type='video/ogg'>
</video>
{% else %}
{% if file.title and not embedded %}
    <h3>{{ file.title }}</h3>
{% endif %}
<video controls {% if flags['loop'] %}loop{% endif %} poster="{{ cdn }}/{{filename}}.jpg">
    <source src="{{ cdn_url(filename + '.mp4') }}" type='video/mp4;'>
    <source src="{{ cdn_url(filename + '.webm') }}" type='video/webm;'>
    <source src="{{ cdn_url(filename + '.ogv') }}" type='video/ogg'>
</video>
{% endif %}
{% if file.description and not embedded %}
    {{ file.description | safe }}
{% endif %}
