{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='apps.css') }}?version=2" />
{% endblock %}
{% block content %}
<header id="page-header">
  <h1>NERDZCrush apps</h1>
  <p>To make it easier and faster to use NERDZCrush</p>
</header>

<section id="official-apps">
<!--
  <div class="app">
    <div class="image">
      <img src="{{ url_for('static', filename='icon-browser.svg') }}" alt="Web browser icon">
    </div>
    <div class="description">
      <h2>Web Browsers</h2>
      <p>We've made a <a href="https://chrome.google.com/webstore/detail/mediacrush/efbojpedpjjpppahkknegfblpdliiple" target="_blank">Chrome extension</a>
and a <a href="https://addons.mozilla.org/en-US/firefox/addon/mediacrush/" target="_blank">Firefox add-on</a> that lets you upload images on the
web straight to NERDZCrush.  Give them a try!</p>
    </div>
  </div>
-->
  <div class="app">
    <div class="image">
      <img src="{{ url_for('static', filename='icon-mobile.svg') }}" alt="Mobile phone icon">
    </div>
    <div class="description">
      <h2>Mobile</h2>
      <p>Using NERDZCrush on the go is as simple as can be &mdash; just head over to <a href="/">https://media.nerdz.eu</a>
from your mobile device to use our mobile site.</p>
    </div>
  </div>
</section>

<section id="everyone-else">
  <h2>Everyone Else</h2>
  <p>We're still working on more ways to use NERDZCrush on your system. Want it faster? Have a look at our straightforward <a href="/docs">API</a> and see if you can make your own!</p>
<!--
  <h3>Third party apps</h3>
  <p>There are also a number of third party apps with NERDZCrush support. <a href="mailto:support@mediacru.sh">Have you written one?</a></p>
  <ul>
    <li><a href="http://website.com">AppName</a> description.</li>
  </ul>
-->
</section>
{% endblock %}
